.wrapper
  = render 'users/shared/side_bar'

  .chat-main
    .main-header

      .main-header__left-box
        %h2.main-header__left-box__current-group
          もり
        %ul.main-header__left-box__member-list
          Member：
          %li.main-header__left-box__member-list__member
            メンバー①
          %a{:href => "/groups/3114/edit"}
      .main-header__edit-btn Edit

      -# .left-header
      -#   %h2.left-headertitle{"data-group_id" => "3114"}
      -#   %ul.left-header-members
      -#     %li.lleft-headermember


    .messages
      = render partial: 'message', collection: @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask 
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'




  -# .chat
  -#   .header
  -#     .left-header
  -#       .left-header__title
  -#         グループ名
  -#       %ul.left-header__members
  -#         Member：
  -#         %li.member
  -#           メンバー名
  -#         %li.member
  -#           メンバー名
  -#         %li.member
  -#           メンバー名
  -#     .right-header
  -#       .right-header__button
  -#         Edit
  -#   .messages
  -#     .message
  -#       .upper-message
  -#         .upper-message__user-name
  -#           メンバー
  -#         .upper-message__date
  -#           2017/04/04
  -#       .lower-meesage
  -#         .lower-message__content
  -#           メッセージ
  -#     .message
  -#       .upper-message
  -#         .upper-message__user-name
  -#           メンバー
  -#         .upper-message__date
  -#           2017/04/04
  -#       .lower-meesage
  -#         .lower-message__content
  -#           メッセージ
  -#     .message
  -#       .upper-message
  -#         .upper-message__user-name
  -#           メンバー
  -#         .upper-message__date
  -#           2017/04/04
  -#       .lower-meesage
  -#         .lower-message__content
  -#           メッセージ
  -#   .form
  -#     %form
  -#       %input.form__message
  -#       .form__mask
  -#         %label.form__mask__image
  -#           = fa_icon 'picture-o', class: 'icon'
  -#           %input.hidden{type: 'file'}
  -#       %input.form__submit{type: 'submit', value: 'Send'}























-#     .form
-#       %form
-#         %input.form__message
-#         .form__mask
-#           %label.form__mask__image
-#             = fa_icon 'picture-o', class: 'icon'
-#             %input.hidden{type: 'file'}
-#         %input.form__submit{type: 'submit', value: 'Send'}







-# !!!
-# .html
-#   .head
-#   .body
-#     .flash-box
-#     .wrapper
-#        =render "shared/side_bar" 
-#       .chat-side
-#         .chat-side__side-header
-#           .chat-side__side-header__box
-#             %p.side-header__box__user-name morita
-#             %ul.side-header__box__menu 
-#               %li.side-header__box__menu__new-group
-#                 %a{:href => "/groups/new"}
-#                   %i.fa.fa-edit
-#               %li.side-header__box__menu__edit-user
-#                 %a{:href => "/users/1425/edit"}
-#                   %i.fa.fa-cog
-#         .chat-side__groups
-#           %a{:href => "/groups/3114/messages"}
-#             .group
-#               %p.group__group-name mori
-#               %p.group__latest-message もういやだ
-#           %a{:href => "/groups/3181/messages"}


              
-#       .chat-main
-#         .main-header
-#           .main-header__left-box
-#             %h2.main-header__left-box__current-group{"data-group_id" => "3114"}
-#               mori
-#             %ul.main-header__left-box__member-list
-#               Member：
-#               %li.main-header__left-box__member-list__member morita
-#           %a{:href => "/groups/3114/edit"}
-#             .main-header__edit-btn Edit
-#         .messages
-#           .message{"data-message_id" => "8349"}
-#             .message__upper-info
-#               %p.message__upper-info__talker morita
-#               %p.message__upper-info__date 2019/08/10(Sat) 21:08:58
-#             %p.message__text 遊ぼう
-#           .message{"data-message_id" => "8350"}
-#             .message__upper-info
-#               %p.message__upper-info__talker morita
-#               %p.message__upper-info__date 2019/08/10(Sat) 21:09:13
-#             %p.message__text もういやだ

-#             .form
-#               = form_for [@group, @message] do |f|
-#                 = f.text_field :content, class: 'form__message', placeholder: 'type a message'
-#                 .form__mask
-#                   = f.label :image, class: 'form__mask__image' do
-#                     = fa_icon 'picture-o', class: 'icon'
-#                     = f.file_field :image, class: 'hidden'
-#                 = f.submit 'Send', class: 'form__submit'
                   
                  
                   
                    
        -# .form
        -#   %form#new_message.new_message{"accept-charset" => "UTF-8", :action => "/groups/3114/messages", :enctype => "multipart/form-data", :method => "post"}
        -#     %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        -#     %input{:name => "authenticity_token", :type => "hidden", :value => "IbgRx4LhNcoNmQBph0CCXOZJ47YyqVHQBctNFomGU/174IGhVoNnZG/X14npzXsI2lLUmThTnjpZFUowN6Qqug=="}/
        -#     .input-box
        -#       %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
        -#       %label.input-box__image{:for => "message_image"}
        -#         %i.fa.fa-image
        -#         %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}/
        -#     %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/









